{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Название - {{ new.title| Censor }}</h1>
<p>Текст - {{ new.text | Censor}}</p>
<p>Автор - {{ new.Author.userName }}</p>
<p>Категория - {{ new.categoryType }}</p>
<p>Рейтинг - {{ new.rating }}</p>
<p>Дата загрузки - {{ new.dateCreation }}</p>

<a href="{% url 'post_update' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

<a href="{% url 'post_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
{% endblock content %}